footer#footer
  .flex-container.flex-30p
    .flex-4
    .flex-4.white contact us 
  .flex-container.flex-50p
    .flex-4
    .flex-4.flex-container
      .flex-4
        a.orange
          i.fa.fa-github.social-icon
      .flex-4
        a.orange
          i.fa.fa-twitter-square.social-icon
      .flex-4
        a.orange
          i.fa.fa-facebook-square.social-icon
  .flex-container.flex-20p#copyright-bar
    #copyright.orange powered by Bulma and Node.js | Belote.io all right reserved 
    
      
    
