nav#navbar
  div#logo
    img(src='/node/img/logo_belot_io.png')
  ul
    li
      a.nav-item item1
    .separator
    li 
      a.nav-item.nav-active item2
    .separator
    li.button-container
      a(href='/sign_in').button#button-connect.is-outlined connexion  
    .separator
    li.button-container
      a(href='/sign_up').button#button-creation.is-outlined créer un compte
    .separator
